html
{
    font-size: 10px;
}

body
{
    background: linear-gradient(to right, pink, purple);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form .a input
{
    height: 5.7rem;
    width: 36rem;
    margin: 1rem;
    font-size: 2rem;
}

form .b 
{
    display: flex;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

form .b a
{
    padding-left: 7.5rem;
}

form .b input
{
    transform: scale(1.7, 1.7);
    margin-right: 2rem;
}

form
{
    border: 2px solid white;
    border-radius: 5rem;
    padding: 5rem;
    padding-top: 10rem;
    position: relative;
}

form .c
{
    display: flex;
    flex-direction: column;
}

form .c button
{
    height: 5.7rem;
    margin: 1rem;
    font-size: 2rem;
}

form .c button:first-child
{
    background-color: white;
    border: none;
    font-weight: 700;
    transition: .7s;
}

.c button:first-child:hover
{
    background-color: black;
    color: white;
}

form .c button:last-child
{
    background: none;
    border: 2px solid white;
    color: white;
    transition: .7s;
}

.c button:last-child:hover
{
    background-color: black;
    color: white;
}

.icon
{
    position: absolute;
    top: -7.2rem;
    right: 35%;
    border: 2px solid white;
    background-color: white;
    border-radius: 50%;
    padding: 2rem;
}